<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="file" bufferedIO="true" advertise="true"  fileName="xmldata.txt" advertiseURI="file://log/xmldata.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.xmldata" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="java.sql.PreparedStatement" level="debug"  additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="java.sql.Statement" level="debug"  additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>

        </Logger>
        <Logger name="java.sql.DriverManager" level="debug"  additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="java.sql.Connection" level="debug"  additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
